

.alineacionCentro {
  text-align: center;
  align-content: center;
  font: sans-serif;
}

.menu{
margin: 0;
padding: 0;

}

a{
  text-decoration: none;
}

.btn-menu{
  padding: 20px;
  background: #0d2c44;
  display: none;
  color: #ffffff;
}

.contenedor-menu{
width: 15%;
min-width: 250px;
margin: 10px;
display: inline-block;
line-height: 20px;
font-family: Arial;
float: left;

}

.contenido{
  float: right;
  width: 75%;
min-width: 600px;
margin: 10px;
display: inline-block;
line-height: 20px;
font-family: Arial;
}
.contenedor-menu .menu{
  width: 100%;
}

.contenedor-menu ul{
  list-style: none;
}

.contenedor-menu .menu li a{
  color: rgb(196, 166, 128);;
  display: block;
  padding: 15px 20px;
  background: #145c6ef5; 

}

.contenedor-menu .menu li a:hover{
background: #175161;
color: #ffffff;
}

.contenedor-menu .menu .icono{
  font-size: 12px;
  line-height: 18px;
}

.contenedor-menu .menu .icono.izquierda {
  float: left;
  margin-right: 10px;
}

.contenedor-menu .menu .icono.derecha {
  float: right;
  margin-left: 10px;
}

.contenedor-menu .menu ul{
display: none;
}
.contenedor-menu .menu ul li a {
  background: #424242;
  color: #e9e9e9;
}

.contenedor-menu .menu .activado > a{
  background: #29698b;
  color: #ffffff;
}
.btn-menu .icono{
  float: right;
}
.logo {
  text-align: left;
  align-content: left;
  font: sans-serif;
  padding-left: 10px;
}

.tamanioImgenJS{
  padding-left: 80px;
  text-align: center;
  align-content: center;
  height: 420px;
  width: 750px;
}
.tamanio {
  height: 100px;
  width: 290px;
}
.subtitulo {
  font-style: normal;
  font-size: 30px;
  width: auto;
  color: rgb(196, 166, 128);
  font-family: Arial;
}

.botonesTipo {
  padding-top: 100px;
}

.subtituloProfesor {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  width: auto;
  color: rgb(196, 166, 128);
  padding-top: 20px;
  font-family: Arial;
}

.subtituloAlumno {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  width: auto;
  color: rgb(196, 166, 128);
  font-family: Arial;
}

.fondoOscuro {
  background-color: #032631;
}

.button {
  background-color: #145c6ef5; 
  border: none;
  padding: 16px 32px;
  text-align: center;
  color: rgb(196, 166, 128);
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 40px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-style: normal;
  border-radius: 30px;
  font-family: Arial;
}

.buttonLanding {
  background-color: #145c6ef5; /* Green */
  border: none;
  padding: 16px 32px;
  text-align: left;
  color: rgb(196, 166, 128);
  text-decoration: none;

  float: left;
  font-size: 16px;
  margin: 6px 40px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-style: normal;
  border-radius: 30px;
  font-family: Arial;
}

.buttonVolver {
  background-color: #145c6ef5; /* Green */
  border: none;
  padding: 16px 32px;
  text-align: right;
  color: rgb(196, 166, 128);
  text-decoration: none;

  float: right;
  font-size: 16px;
  margin: 6px 40px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-style: normal;
  border-radius: 30px;
  font-family: Arial;
}

buttonAzul {
  background-color: #145c6ef5;
  color: white;
}

.buttonAzul:hover {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
}

.
